name: Documentation

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install DocFX
        run: choco install -y docfx

      - name: Build Document
        run: docfx docs/docfx.json

      - uses: actions/upload-artifact@v4
        with:
          name: dotnet_doc
          path: .docs/_site

      - uses: actions/upload-pages-artifact@v3
        with:
          path: .docs/_site

  deploy:
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
