name: Release
on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        settings:
          - platform: windows-latest
            args: '-- --profile release-lto'
          - platform: macos-latest
            args: '--target universal-apple-darwin -- --profile release-lto'
          - platform: ubuntu-latest
            args: '-- --profile release-lto'
    runs-on: ${{ matrix.settings.platform }}

    steps:
      - uses: actions/checkout@v5
      - name: Restore timestamps to cache workspace crates
        uses: chetan/git-restore-mtime-action@v2

      - name: Rust setup
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-apple-darwin,aarch64-apple-darwin

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
          cache-workspace-crates: true

      - name: Install dependencies (Ubuntu only)
        if: matrix.settings.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libwebkit2gtk-4.1-dev libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev

      - name: Sync node version and setup cache
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
          cache: "npm"
          cache-dependency-path: ./app/package-lock.json

      - name: Install frontend dependencies
        run: npm install
        working-directory: ./app

      - name: Build the app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: ${{ matrix.settings.args }}  # args for tauri build
          tagName: ${{ github.event.release.tag_name }}
          releaseName: "PLATEAU GIS Converter v__VERSION__"
          releaseDraft: true
          prerelease: false
